/* This is a CSS comment */
.job-posts {
    margin-left : 80px;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    margin-bottom: 50px;
  }
  
  .job-post {
    width: 300px;
    margin-top: 50px;
    border: 2px solid black;
    padding: 10px;
    background-color: #f7f01e;
    
    
  }
  
  .post-image img {
    max-width: 100%;
    height: auto;
    
  }
  
  .post-actions a {
    display:inline-block;
    margin-right: 5px;
    text-decoration: none;
    
    padding: 5px 10px;
    color: #fff;
  }
  
  .about-misson
  {
    display: flex;
    margin-top: 100px;
    text-align: center;

  }
 h2{
    
    color: rgb(0, 0, 124);
    margin-left: 500px;
    margin-top: -30px;
}
.misson-img
{   
    margin-top:-70px;
    margin-left:10px;
   
}
.misson-para{
    margin-left:450px;
    margin-top:  -150px;
}
.team-img
{ 
    margin-top: -50px;
    margin-left:700px;
}
.team-p
{
    margin-left: 50px;
    color: #070707;
    margin-right:600px;
    margin-top:  -150px;
}

.about-misson
  {
    display: flex;
    margin-top: 80px;
    text-align: center;

  }

.our-team
{
    margin-top:60px;
}
.about-section
{
   
  padding: 2px;
  border: 5px solid black; 
  background-color:  #9278dd;
  margin-top: 100px;
  height: 300px;
}
.team-section
{
   
  padding: 2px;
  border: 5px solid black; 
  background-color:  #9278dd;
  margin-top: 100px;
  height: 300px;
}
.bttn{
background-color: #070707;
}
.font{
    
    margin-right: 10px;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: hwb(239 30% 2%);
    min-height: 100vh;
    /*  display: flex;
    flex-direction: column;*/
    /*align-items: center;*/
    flex-direction: column;
    opacity: 0;
    animation: pageLoadAnimation 1s forwards;
    display: flex;
    flex-direction: column;
}

@keyframes pageLoadAnimation {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    position: relative;
    font-size: 16px;
    color: lightcyan;
    text-decoration: rgba(1, 1, 49, 0.918);
    font-weight: 500;
    margin-right: 30px;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover::after {
    transform: translateY();
    opacity: 1;
}

.search-bar {
    width: 250px;
    height: 45px;
    background: transparent;
    border: 2px solid white;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
    color: antiquewhite;
}

.search-bar input::placeholder {
    color: aliceblue;
}

.search-bar button {
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-bar button i {
    font-size: 22px;
    color: white;
}






.navbar .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    margin-left: 40px;
}

.navbar .btnLogin-popup:hover {
    background: white;
    color: black;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    margin-top: 180px;
    margin-left: 420px;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
    align-items: center;
}

.form-box h2 {
    font-size: 23px;
    color: white;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 20%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: white;
    font-weight: 500;
    pointer-events: none;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: black;
    margin-top: 10px;
    padding: 0px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 20px;
    color: black;
    line-height: 57px;
}

.remember-forgot {
    font-size: 16px;
    color: black;
    font-weight: 700;
    margin: -5px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: black;
    margin-right: 5px;
}

.remember-forgot a {
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: lavender;
    margin-bottom: none;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 500;
}

.login-register {
    font-size: 15px;
    color: solid black;
    text-align: center;
    font-weight: 500;
    margin: 20px;
}

.login-register p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    font-size: 45px;
    display: flex;
    justify-content: center;
    background: white;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.slideshow {
    width: 600px;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.middle {
    position: absolute;
    /* top: 150%;
    left: 50%;*/
}

.navigation {
    position: absolute;
    bottom: 40px;
    left: 100%;
    transform: translateX(-50%);
    display: flex;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}





@keyframes back {
    100% {
        background-position: 200px 0;
    }
}

ul {
    list-style: none;
}

a {
    line-height: 1.5;
    color: #fff;
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    width: 100%;
    position: relative;
    background-color: #0d0147;
    padding: 10px 0;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    bottom: 0;
    font-size: 16px;
    border: #0d0147;
}

.containerf {
    width: 1150px;
    position: relative;
    background-color: #0d0147;
    padding: 10px 0;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    bottom: 0;
    font-size: 16px;
    border: #0d0147;
}
.containerf {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    margin: auto;
}


.footer-col {
    margin-top: 50px;
    width: 25%;
    padding: 0 20px;
    left: 20px;
}

.footer-col h4 {
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 90px;
    height: 2px;
    background: #fff;
}

.footer-col ul li {
    line-height: 35px;
}

a:hover {
    padding-left: 8px;
    transition: .5s;
    color: rgb(22, 79, 202);
}

.email {
    border-bottom: 1px solid #fff;
}

.help-button {
    width: 150px;
    font-weight: bold;
    font-size: 16px;
    background-color: aliceblue;
    margin-left: 30px;
    padding: 10px;
    border-radius: 4px;
}

.help-button:hover {
    margin-top: 5px;
    transition: .5s;
    background-color: #0a84ff;
    color: white;
}

.feedback-button {
    position: conner;
    width: 100px;
    font-weight: bold;
    font-size: 16px;
    background-color: aliceblue;
    margin-left: 120px;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transform: rotate(270deg);
}

.feedback-button:hover {
    transition: .3s;
    background-color: #0a84ff;
    color: white;
}

.lable1 {
    margin-top: 100%;
    margin-bottom: 0%;
    font-size: 0px;
}

.qrcode {
    font-size: 70px;
    padding-left: 40px;
}

.follow-h4 {
    margin-left: 40px;
    position: relative;
    margin-top: -10px;
}

.social {
    font-size: 20px;
    margin-top: 30px;
}

.social a {
    position: relative;
    margin-left: 20px;
    transition: .3s;
    padding: 0 20px;
}

.social a:hover {
    color: rgb(38, 150, 248);
}

