 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: hwb(239 44% 9%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    animation: pageLoadAnimation 1s forwards;
    color: black;
}

form{
    background-color: rgb(185, 190, 248);
    padding: 50px;
    padding-bottom: 150px;
    width: 600px;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 15px;
    border-color: black;
    border-width: thin;
}

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn1{
    width: 120px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
}

.btn1:hover{
    background-color: rgb(91, 69, 187);
    color: white;
}

.d1{
    font-size: 20px;
    font-weight: bold;
}

.d1 input{
    width: 350px;
    height: 40px;
    text-align: justify;
    font-size: 20px;
    border-radius: 5px;
    display: inline-block;
}

.d1 label{
    display: inline-block;
    padding-top: 5px;
    padding-top: 10px;
    width: 100px;
    color: rgb(0, 0, 0);
}

.d2{
    margin-left: 150px;
    margin-top: 30px;
}

.d2 a{
    font-size: 20px;
    color: rgb(70, 70, 70);
    font-weight: 700;
}

.d2 a:hover{
    color: black;
}